{% load static %}

<footer class="site-footer">
    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-md-5 mb-5">
                <img class="img-fluid" src="{% static 'img/isologotipo.png' %}">
            </div>
            <div class="col-md-5 mb-5 align-self-center">
                <img class="img-fluid" src="{% static 'img/idei_big.png' %}">
            </div>
        </div>
        {% comment %} <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2 class="footer-heading mb-4">Suscribirse al boletín informativo</h2>
                <form action="#" method="post" class="footer-subscribe">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-black" type="button" id="button-addon2">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> {% endcomment %}
        <div class="row text-center">
            <div class="col-md-12">
                <div class="border-top pt-4">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados.</p>
                </div>
            </div>    
        </div>
    </div>
</footer>