{% load static %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                {% comment %} <h2 class="footer-heading mb-4">Acerca de nosotros</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Neque facere laudantium magnam voluptatum autem. 
                Amet aliquid nesciunt veritatis aliquam.</p> {% endcomment %}
                <img class="img-fluid" src="/{% static 'img/isologotipo.png' %}">
                <img class="img-fluid mt-5" src="/{% static 'img/idei_big.png' %}">
            </div>
            <div class="col-md-3 mb-5 ml-auto">
                <h2 class="footer-heading mb-4">Enlaces</h2>
                <ul class="list-unstyled">
                    <li><a href="#about-section" class="smoothscroll">Términos</a></li>
                    <li><a href="#about-section" class="smoothscroll">Política</a></li>
                    <li><a href="#about-section" class="smoothscroll">Acerca de nosotros</a></li>
                    {% comment %} <li><a href="#testimonials-section" class="smoothscroll">Testimonios</a></li> {% endcomment %}
                    <li><a href="#contact-section" class="smoothscroll">Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-5 footer-social">
                <h2 class="footer-heading mb-4">Síguenos</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2 class="footer-heading mb-4">Suscribirse al boletín informativo</h2>
                <form action="#" method="post" class="footer-subscribe">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-black" type="button" id="button-addon2">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-5 mt-3 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados.</p>
                </div>
            </div>    
        </div>
    </div>
</footer>