{% extends 'base.html' %}
{% load static %}

{% block bodyattrib %}
data-spy="scroll" data-target=".site-navbar-target" data-offset="300"
{% endblock bodyattrib %}


{% block content %}

    {% include "navbar.html" %}
     
    <div class="site-blocks-cover overlay" style="background-image: url(https://static.wixstatic.com/media/0b56c4_199d601c942a400685454d484fd2fb1a~mv2.jpg/v1/fill/w_1600,h_900,al_c,q_90/file.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Simulador</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">
                Es una herramienta que permite visualizar gráficamente el comportamiento de la placa AD5933 
                según los datos que le sean provistos.</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="{% url 'simulator' %}" class="btn  btn-primary mr-2 mb-2">Ir</a>
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Reparador de Archivos</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                Es una herramienta que permite reparar los archivos generados por el software de la placa AD5933 
                y descargarlos en formato PDF, CSV o XLSX.</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="{% url 'filefixer' %}" class="btn  btn-primary mr-2 mb-2">Ir</a>
                </div>
              </div>

            </div>
          </div>
            
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  


    <div class="site-section bg-light" id="about-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Acerca de nosotros</h2>
                    {% comment %} <p class="lead" data-aos="fade-up" data-aos-delay="100">
                    </p> {% endcomment %}
                </div>
            </div>
            <div class="row justify-content-center">
                {% comment %} <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                    <img src="{% static 'img/img_2.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </figure>
                </div> {% endcomment %}
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="100">
                    {% comment %} <h3 class="text-black mb-4">We Solve Your Financial Problem</h3> {% endcomment %}
                    <p>
                    Somos un grupo de investigación dependiente del Instituto de Desarrollo Económico e Innovación (IDEI) 
                    de la Universidad Nacional de Tierra del Fuego, Antártida e Islas del Atlántico Sur. Se dedica a la 
                    investigación científica de tecnologías aplicadas a mediciones de las propiedades eléctricas de sistemas 
                    biológicos como seres humanos, frutas, verduras, carnes, entre otros; para aplicaciones en diagnósticos 
                    médicos, agricultura y caracterización de la calidad de alimentos. Empezando a innovar en el cultivo de 
                    peces y crustáceos.
                    </p>
                </div>
                
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="100">
                    <p>
                    El referente del grupo es el Ingeniero Biomédico Antonio H. Dell’Osa (IDEI/UNTDF-CONICET) que posee un 
                    soporte intrauniversitario desde la carrera de Lic. en Sistemas por docentes y estudiantes de grado. 
                    A su vez, con una asistencia extrauniversitaria de parte de profesionales de la Universidad de la 
                    República (Montevideo, Uruguay), Universitá degli studi di Cagliari (Italia), Universidad de Tucumán 
                    (Argentina), Universidad de La Plata (Buenos Aires, Argentina) y Universidad de Buenos Aires (Argentina).
                    </p>
                </div>
            </div>
            
        </div>  
    </div>

    
    {% comment %} <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Equipo</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>


        <div class="row justify-content-center">
          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/antonio-2.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Antonio Dell'Osa</h3>
                <span class="position">Ingeniero Biomédico</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_5.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Daniel Badagnani</h3>
                <span class="position">Licenciado en Física</span>
              </div>
            </div>
          </div>
          
        </div>


        <div class="row justify-content-center">
          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_4.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Matías Gel</h3>
                <span class="position">Ingeniero Biomédico</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_6.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Maximiliano Sampirisi</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

        </div>


        <div class="row justify-content-center">
          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_7.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Sergio Maciel</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_8.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Ignacio Perez</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

        </div>


        <div class="row justify-content-center">
          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_5.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Brian Rigoni</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{% static 'img/person_4.jpg' %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Alejandro Alvarez</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> {% endcomment %}



    {% comment %} <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Cómo funciona</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptas fugiat molestiae eligendi repudiandae error?
            </p>
          </div>
        </div>
        
        <div class="row align-items-lg-center" >
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

            <div class="owl-carousel slide-one-item-alt">
              <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'img/img_2.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'img/img_3.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="custom-direction">
              <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
            </div>

          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h2 class="section-title mb-3">01. Online Applications</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Cumque nisi, deserunt necessitatibus odio magnam nihil illum
                    neque voluptas?
                </p>
                <p><a href="#" class="btn btn-primary mr-2 mb-2">Leer más</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">02. Get an approval</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Cumque nisi, deserunt necessitatibus odio magnam nihil illum neque voluptas?
                </p>
                <p><a href="#" class="btn btn-primary mr-2 mb-2">Leer más</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">03. Card delivery</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Inventore sapiente labore eius ullam? Iusto?
                </p>
                <p><a href="#" class="btn btn-primary mr-2 mb-2">Leer más</a></p>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </section> {% endcomment %}

    

    <section class="site-section" id="gallery-section" data-aos="fade">
      <div class="container">

        <div class="row mb-3">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Galería</h2>
          </div>
        </div>

      
        <div id="posts" class="row no-gutter">
          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-1.jpg' %}" class="item-wrap fancybox">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-1.jpg' %}">
            </a>
          </div>
          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-2.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-2.jpg' %}">
            </a>
          </div>

          <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-3.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-3.jpg' %}">
            </a>
          </div>

          <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">

            <a href="{% static 'img/conference-4.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-4.jpg' %}">
            </a>

          </div>

          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-5.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-5.jpg' %}">
            </a>
          </div>

          <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-6.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-6.jpg' %}">
            </a>
          </div>

          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-7.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-7.jpg' %}">
            </a>
          </div>

          <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-8.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-8.jpg' %}">
            </a>
          </div>

          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-9.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-9.jpg' %}">
            </a>
          </div>

          <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-10.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-10.jpg' %}">
            </a>
          </div>

          <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-11.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-11.jpg' %}">
            </a>
          </div>

          <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="{% static 'img/conference-12.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{% static 'img/conference-12.jpg' %}">
            </a>
          </div>

          
        </div>
      </div>

    </section>



    {% comment %} <section class="site-section" id="faq-section">
      
        
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">Preguntas frecuentes</h2>
          </div>
        </div>
      
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Preguntas frecuentes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">¿Qué es la Bioimpedancia?</h3>
            <p>Es el fenómeno mediante el cual el tejido biológico se opone al pasaje de la corriente eléctrica.
            Cada tejido tiene una característica de impedancia diferente, lo que permite distinguir grasa de masa magra, o 
            aire del agua o del hueso.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">¿Cuales son las posibles aplicaciones de una medición de Bioimpedancia?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Lorem ipsum?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}



    {% comment %} <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Testimonios</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti tenetur ad perspiciatis quam atque eius quia suscipit repudiandae animi voluptatem.&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'img/person_1.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates exercitationem ut totam distinctio magnam quisquam, unde iure. Labore!.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'img/person_2.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christine Aguilar</p>
              </figure>
              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi odio nihil officia quasi nostrum, ipsa est? Culpa, ullam dolorem!&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'img/person_3.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
              </figure>

              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam tempora beatae animi in sapiente quos maiores ex aut.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'img/person_1.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
              </figure>

            </div>
          </div>

        </div>
    </section> {% endcomment %}



    {% comment %} <section class="site-section" id="about-section">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'img/img_4.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            

            <div class="row">

              
              
              <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
                <div class="unit-4 d-flex">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                  <div>
                    <h3>Bank Loan</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="mb-0"><a href="#">Learn More</a></p>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4 d-flex">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                  <div>
                    <h3>Banking Consulation </h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="mb-0"><a href="#">Learn More</a></p>
                  </div>
                </div>
              </div>
            </div>


            
          </div>
        </div>

        
      </div>
    </section> {% endcomment %}
  
    
    

    {% comment %} <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Nuestro Blog</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="h-entry">
              <a href="single.html">
                <img src="{% static 'img/img_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="h-entry">
              <a href="single.html">
                <img src="{% static 'img/img_4.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="h-entry">
              <a href="single.html">
                <img src="{% static 'img/img_3.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">Banking is good for business? Why?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
              <p><a href="#">Continue Reading...</a></p>
            </div> 
          </div>
          
        </div>
      </div>
    </section> {% endcomment %}


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contáctenos</h2>
          </div>
        </div>

        <div class="row mb-5 justify-content-center">
          
          <div class="col-md-4 text-center">
            <a target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/eKoe76jFFw6HuFNd8">
              <p class="mb-4">
                <span class="icon-room d-block h2 text-primary"></span>
                <span>879 Yrigoyen, Ushuaia, Tierra del Fuego, Argentina</span>
              </p>
            </a>  
          </div>
          <div class="col-md-4 text-center">
            <a target="_blank" rel="noopener noreferrer" href="http://www.untdf.edu.ar/institutos/idei">
              <p class="mb-4">
                <span class="icon-institution d-block h2 text-primary"></span>
                <span>Instituto de Desarrollo Económico e Innovación</span>
              </p>
            </a>  
          </div>
          {% comment %} <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="mailto:ahdellosa@untdf.edu.ar">ahdellosa@untdf.edu.ar</a>
            </p>
          </div> {% endcomment %}
        </div>

        <div class="row text-center mb-5 justify-content-center">
          
          <div class="col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="mailto:ahdellosa@untdf.edu.ar"><span class="icon-mail_outline"></span></a></li>
                </ul>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" 
                     class="svg-inline--fa fa-user-tie fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 455 512" height='150px' width='150px'>
                     <path fill="grey" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"></path>
                </svg>
              </figure>
              <div class="p-3">
                <h3>Antonio Dell'Osa</h3>
                <span class="position">Ingeniero Biomédico</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="mailto:mgel@untdf.edu.ar"><span class="icon-mail_outline"></span></a></li>
                </ul>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" 
                     class="svg-inline--fa fa-user-tie fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 455 512" height='150px' width='150px'>
                     <path fill="grey" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"></path>
                </svg>
              </figure>
              <div class="p-3">
                <h3>Matías Gel</h3>
                <span class="position">Licenciado en Sistemas</span>
              </div>
            </div>
          </div>

        </div>


        <div class="row text-center mb-4 justify-content-center">

          <div class="col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="mailto:ignacioperez583@gmail.com"><span class="icon-mail_outline"></span></a></li>
                </ul>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-graduate" 
                     class="svg-inline--fa fa-user-graduate fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 448 512" height='100px' width='100px'>
                     <path fill="grey" d="M319.4 320.6L224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"></path>
                </svg>
              </figure>
              <div class="p-3">
                <h3>Ignacio Perez</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="mailto:msampirisi@gmail.com"><span class="icon-mail_outline"></span></a></li>
                </ul>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-graduate" 
                     class="svg-inline--fa fa-user-graduate fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 448 512" height='100px' width='100px'>
                     <path fill="grey" d="M319.4 320.6L224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"></path>
                </svg>
              </figure>
              <div class="p-3">
                <h3>Maximiliano Sampirisi</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="mailto:ale.a.alvarez@outlook.com"><span class="icon-mail_outline"></span></a></li>
                </ul>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-graduate" 
                     class="svg-inline--fa fa-user-graduate fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 448 512" height='100px' width='100px'>
                     <path fill="grey" d="M319.4 320.6L224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"></path>
                </svg>
              </figure>
              <div class="p-3">
                <h3>Alejandro Álvarez</h3>
                <span class="position">Estudiante</span>
              </div>
            </div>
          </div>

        </div>

        {% comment %} <div class="row">
          <div class="col-md-12 mb-5">

            <form action="#" class="p-5 bg-white">

              <h2 class="h4 text-black mb-5">Formulario de Contacto</h2> 
              
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Nombre</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Apellido</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>
              
              <div class="row form-group">    
                <div class="col-md-12">
                  <label class="text-black" for="email">Correo electrónico</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>
              
              <div class="row form-group">                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Asunto</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Mensaje</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Escriba sus consultas aquí..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Enviar mensaje" class="btn btn-primary btn-md text-white">
                </div>
              </div>

            </form>
          </div>
          
        </div> {% endcomment %}

      </div>
    </section>

    {% include "footer.html" %}

  </div> <!-- .site-wrap -->
{% endblock content %}