{% extends 'base.html' %}
{% load static %}

{% block cspage %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
{% endblock cspage %}

{% block content %}

   {% include 'navbar.html' %}

   <div class="site-section bg-light" data-aos="fade">
      <div class="container">
         <div class="row align-items-center justify-content-center">

            <div id="centerPage" class="col-md-10 mt-lg-4 text-center">
               <!-- oninput hece visible el valor del range -->
               <form method="get" action="." id="form" class="card-body">
                  {% csrf_token %}

                  <div class="row">
                     <div class="form-group col-4 text-left" id="circuitos">
                        <input type="radio" name="circuito" id="capacitor"         value="capacitor" checked> Capacitor<br>
                        <input type="radio" name="circuito" id="resistencia"       value="resistencia"> Resistencia<br>
                        <input type="radio" name="circuito" id="serie-rc"          value="serie-rc"> Serie RC<br>
                        <input type="radio" name="circuito" id="paralelo-rc"       value="paralelo-rc"> Paralelo RC<br>
                        <input type="radio" name="circuito" id="serie-paralelo-rc" value="serie-paralelo-rc"> Serie | Paralelo RC<br>
                     </div>
                     <div class="form-group col-5 text-left align-self-center">

                        <div class="form-group" id="seccion_capacitor">
                           <label class="lbl-simul" for="label_R2"><b>Capacitor </b></label>
                           <select id="select_capacitor" name="select_capacitor">
                              {% comment %} 1.2e-10 {% endcomment %}
                              <option value="0.00000000012">120 pF</option>
                              <option value="0.00000001">10.000 pF</option>
                              <option value="0.0001">100 µF</option>
                              <option value="0.00001">10 µF</option>                           
                           </select>
                        </div> 
                        
                        <div class="form-group" id="seccion_resistencia_1">
                           <label class="lbl-simul" for="label_R1"><b>Resistencia N°1 </b></label>
                           <select id="select_resistencia_1" name="select_resistencia_1">
                              <option value="910">910 Ω</option>
                              <option value="1000">1 kΩ</option>
                              <option value="47000">47 kΩ</option>
                              <option value="150000">150 kΩ</option>
                              <option value="180000">180 kΩ</option>
                           </select>
                        </div>

                        <div class="form-group" id="seccion_resistencia_2">
                           <label class="lbl-simul" for="label_R2"><b>Resistencia N°2 </b></label>
                           <select id="select_resistencia_2" name="select_resistencia_2">
                              <option value="910">910 Ω</option>
                              <option value="1000">1 kΩ</option>
                              <option value="47000">47 kΩ</option>
                              <option value="150000">150 kΩ</option>
                              <option value="180000">180 kΩ</option>
                           </select>
                        </div>      	
         
                     </div>
                     <div class="form-group col-3 align-self-center">
                        <input type="submit" value="Simular" class="btn btn-primary btn-block mb-4 ml-5">
                     </div>
                  </div>
               </form>
            </div>

         </div>

         
         <div class="row mt-2">
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center"><b>Módulo de la Impedancia</b></div>
                     <div class="card-body">
                        <div id="impedancia_data"></div>
                     </div>
               </div>
            </div>
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center"><b>Módulo de la Impedancia</b></div>
                     <div class="card-body">
                        <div id="impedancia_data_log"></div>
                     </div>
                  </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center"><b>Fase de la Impedancia</b></div>
                     <div class="card-body">
                        <div id="fase_data"></div>
                     </div>
               </div>
            </div>
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center"><b>Diagrama de Cole-Cole</b></div>
                     <div class="card-body">
                        <div id="cole_cole_data"></div>
                     </div>
                  </div>
            </div>
         </div>

      </div>
   </div>

   {% include 'footer.html' %}

{% endblock content %}

{% block jspage %}
<!-- Configurar el formulario -->

   {% comment %} <script>
      $('#event').submit(function(e){
         e.preventDefault();
         url = $(this).attr('action') # to get url
         data = $(this).serialize(); # for sending form data 
         $.post(url, data, function(response){
               # do whatever you want with response(data)
         })
      })
   </script> {% endcomment %}
   
   <script>
      if (document.getElementById('capacitor').checked) {
          document.getElementById('seccion_capacitor').style.display = 'block';
          document.getElementById('seccion_resistencia_1').style.display = 'none';
          document.getElementById('seccion_resistencia_2').style.display = 'none';
      }

      document.getElementById('circuitos')
         .addEventListener('click', function(e) {

         if (e.target.value === 'capacitor') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_resistencia_1').style.display = 'none';
            document.getElementById('seccion_resistencia_2').style.display = 'none';
         }

         if (e.target.value === 'resistencia') {
            document.getElementById('seccion_capacitor').style.display = 'none';
            document.getElementById('seccion_resistencia_1').style.display = 'block';
            document.getElementById('seccion_resistencia_2').style.display = 'none';
         }

         if (e.target.value === 'serie-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_resistencia_1').style.display = 'block';
            document.getElementById('seccion_resistencia_2').style.display = 'none';
         }

         if (e.target.value === 'paralelo-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_resistencia_1').style.display = 'block';
            document.getElementById('seccion_resistencia_2').style.display = 'none';
         }

         if (e.target.value === 'serie-paralelo-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_resistencia_1').style.display = 'block';
            document.getElementById('seccion_resistencia_2').style.display = 'block';
         }
      })
   </script>

   <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
   <script>
      var config = {
         modeBarButtonsToRemove: [
            'zoom2d',
            'zoomIn2d',
            'zoomOut2d',
            'autoScale2d', 
            'resetScale2d',
            'pan2d'
         ]
      };

   // IMPEDANCIA
      var ctx = document.getElementById('impedancia_data');
      var trace = {
         x: {{impedancia_data.x}},
         y: {{impedancia_data.y}} 
      };
      var data = [trace];
      var layout = {
         margin: {t:20, r:30, b:70, l:80},
         annotations:[
            {
               x:0.5,
               y:-0.15,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"Frecuencia",
               xref:"paper",
               yref:"paper"
            },
            {
               x:-0.2,
               y:0.5,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"|Impedancia|",
               textangle:-90,
               xref:"paper",
               yref:"paper"
            }
         ],
         xaxis: {
            autotick: false,
            type: 'log',
            ticks: 'outside',
            tick0: 1,
            dtick: 1,
            ticklen: 5,
         },
         yaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         }
      };

      Plotly.plot(ctx, data, layout, config);

   // IMPEDANCIA LOG
      var ctx = document.getElementById('impedancia_data_log');
      var trace = {
         x: {{impedancia_data_log.x}},
         y: {{impedancia_data_log.y}}  
      };
      var data = [trace];
      var layout = {
         margin: {t:20, r:30, b:70, l:80},
         annotations:[
            {
               x:0.5,
               y:-0.15,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"Log(Frecuencia)",
               xref:"paper",
               yref:"paper"
            },
            {
               x:-0.2,
               y:0.5,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"|Impedancia|",
               textangle:-90,
               xref:"paper",
               yref:"paper"
            }
         ],
         xaxis: {
            autotick: true,
            type: 'log',
            ticks: 'outside',
            tick0: 1,
            dtick: 1,
            ticklen: 5,
         },
         yaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         }
      };

      Plotly.plot(ctx, data, layout, config);

   // FASE
      var ctx = document.getElementById('fase_data');
      var trace = {
         x: {{fase_data.x}},
         y: {{fase_data.y}}   
      };
      var data = [trace];
      var layout = {
         margin: {t:20, r:30, b:70, l:80},
         annotations:[
            {
               x:0.5,
               y:-0.15,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"Frecuencia",
               xref:"paper",
               yref:"paper"
            },
            {
               x:-0.2,
               y:0.5,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"Ángulo de Z",
               textangle:-90,
               xref:"paper",
               yref:"paper"
            }
         ],
         xaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         },
         yaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         }
      };

      Plotly.plot(ctx, data, layout, config);

   // COLE COLE
      var ctx = document.getElementById('cole_cole_data');
      var trace = {
         x: {{cole_cole_data.x}},
         y: {{cole_cole_data.y}}   
      };
      var data = [trace];
      var layout = {
         margin: {t:20, r:30, b:70, l:80},
         annotations:[
            {
               x:0.5,
               y:-0.15,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"Parte Real",
               xref:"paper",
               yref:"paper"
            },
            {
               x:-0.2,
               y:0.5,
               font: {
                  size: 18
               },
               showarrow:false,
               text:"- Parte Imaginaria",
               textangle:-90,
               xref:"paper",
               yref:"paper"
            }
         ],
         xaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         },
         yaxis: {
            autotick: true,
            ticks: 'outside',
            ticklen: 5,
         }
      };

      Plotly.plot(ctx, data, layout, config);

   </script>
{% endblock jspage %}
