{% extends 'base.html' %}
{% load static %}

{% block cspage %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
{% endblock cspage %}

{% block content %}

   {% include 'navbar.html' %}

   <div class="site-section bg-light" data-aos="fade">
      <div class="container">
         <div class="row align-items-center justify-content-center">

            <div id="centerPage" class="col-md-10 mt-lg-5 text-center">
               <!-- oninput hece visible el valor del range -->
               <form method="get" action="." id="form" class="card-body">
                  {% csrf_token %}

                  <div class="row">
                     <div class="form-group col-4 text-left" id="circuitos">
                        <input type="radio" name="circuito" id="capacitor" value="capacitor" checked> Capacitor<br>
                        <input type="radio" name="circuito" id="recistencia" value="recistencia"> Recistencia<br>
                        <input type="radio" name="circuito" id="serie-rc" value="serie-rc"> Serie RC<br>
                        <input type="radio" name="circuito" id="paralelo-rc" value="paralelo-rc"> Paralelo RC<br>
                        <input type="radio" name="circuito" id="serie-paralelo-rc" value="serie-paralelo-rc"> Serie | Paralelo RC<br>
                     </div>
                     <div class="form-group col-5 text-left align-self-center">

                        <div class="form-group" id="seccion_capacitor">
                           <label class="lbl-simul" for="label_R2"><b>Capacitor </b></label>
                           <select id="select_capacitor" name="select_capacitor">
                              {% comment %} 1.2e-10 {% endcomment %}
                              <option value="0.00000000012">120 pF</option>
                              <option value="0.00000001">10.000 pF</option>
                              <option value="0.0001">100 µF</option>
                              <option value="0.00001">10 µF</option>                           
                           </select>
                        </div> 
                        
                        <div class="form-group" id="seccion_recistencia_1">
                           <label class="lbl-simul" for="label_R1"><b>Resistencia N°1 </b></label>
                           <select id="select_recistencia_1" name="select_recistencia_1">
                              <option value="910">910 Ω</option>
                              <option value="1000">1 kΩ</option>
                              <option value="47000">47 kΩ</option>
                              <option value="150000">150 kΩ</option>
                              <option value="180000">180 kΩ</option>
                           </select>
                        </div>

                        <div class="form-group" id="seccion_recistencia_2">
                           <label class="lbl-simul" for="label_R2"><b>Resistencia N°2 </b></label>
                           <select id="select_recistencia_2" name="select_recistencia_2">
                              <option value="910">910 Ω</option>
                              <option value="1000">1 kΩ</option>
                              <option value="47000">47 kΩ</option>
                              <option value="150000">150 kΩ</option>
                              <option value="180000">180 kΩ</option>
                           </select>
                        </div>      	
         
                     </div>
                     <div class="form-group col-3 align-self-center">
                        <input type="submit" value="Simular" class="btn btn-primary btn-block mb-4 ml-5">
                     </div>
                  </div>
               </form>
            </div>

         </div>

         
         <div class="row">
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center">Impedance</div>
                     <div class="card-body">
                        {% comment %} <canvas id="impedancia_data"></canvas> {% endcomment %}
                        <div id="impedancia_data"></div>
                     </div>
               </div>
            </div>
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center">Impedance Log</div>
                     <div class="card-body">
                        {% comment %} <canvas id="impedancia_data_log"></canvas> {% endcomment %}
                        <div id="impedancia_data_log"></div>
                     </div>
                  </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center">Phase</div>
                     <div class="card-body">
                        {% comment %} <canvas id="fase_data"></canvas> {% endcomment %}
                        <div id="fase_data"></div>
                     </div>
               </div>
            </div>
            <div class="col-lg-6 col-sm-12">
               <div class="card bg-light mb-3">
                  <div class="card-header text-center">Cole Cole</div>
                     <div class="card-body">
                        {% comment %} <canvas id="cole_cole_data"></canvas> {% endcomment %}
                        <div id="cole_cole_data"></div>
                     </div>
                  </div>
            </div>
         </div>

      </div>
   </div>

   {% include 'footer.html' %}

{% endblock content %}

{% block jspage %}
<!-- Configurar el formulario -->

   {% comment %} <script>
      $('#event').submit(function(e){
         e.preventDefault();
         url = $(this).attr('action') # to get url
         data = $(this).serialize(); # for sending form data 
         $.post(url, data, function(response){
               # do whatever you want with response(data)
         })
      })
   </script> {% endcomment %}
   
   <script>
      if (document.getElementById('capacitor').checked) {
          document.getElementById('seccion_capacitor').style.display = 'block';
          document.getElementById('seccion_recistencia_1').style.display = 'none';
          document.getElementById('seccion_recistencia_2').style.display = 'none';
          console.log('capacitor')
      }

      document.getElementById('circuitos')
         .addEventListener('click', function(e) {

         if (e.target.value === 'capacitor') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_recistencia_1').style.display = 'none';
            document.getElementById('seccion_recistencia_2').style.display = 'none';
            console.log('Capacitor')
         }

         if (e.target.value === 'recistencia') {
            document.getElementById('seccion_recistencia_1').style.display = 'block';
            document.getElementById('seccion_capacitor').style.display = 'none';
            document.getElementById('seccion_recistencia_2').style.display = 'none';
            console.log('Recistencia')
         }

         if (e.target.value === 'serie-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_recistencia_1').style.display = 'block';
            document.getElementById('seccion_recistencia_2').style.display = 'none';
            console.log('Recistencia')
         }

         if (e.target.value === 'paralelo-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_recistencia_1').style.display = 'block';
            document.getElementById('seccion_recistencia_2').style.display = 'none';
            console.log('Recistencia')
         }

         if (e.target.value === 'serie-paralelo-rc') {
            document.getElementById('seccion_capacitor').style.display = 'block';
            document.getElementById('seccion_recistencia_1').style.display = 'block';
            document.getElementById('seccion_recistencia_2').style.display = 'block';
            console.log('Recistencia')
         }
      })
   </script>

   <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
   <script>
   // IMPEDANCIA
      var ctx = document.getElementById('impedancia_data');
      Plotly.plot( ctx, [{
         x: {{impedancia_data.x}},
         y: {{impedancia_data.y}} 
         }], 
         {
            margin: { t: 0 } 
         }
      );

   // IMPEDANCIA LOG
      var ctx = document.getElementById('impedancia_data_log');
      Plotly.plot( ctx, [{
         x: {{impedancia_data_log.x}},
         y: {{impedancia_data_log.y}} 
         }], 
         {
            margin: { t: 0 } 
         }
      );

   // FASE
      var ctx = document.getElementById('fase_data');
      Plotly.plot( ctx, [{
         x: {{fase_data.x}},
         y: {{fase_data.y}} 
         }], 
         {
            margin: { t: 0 } 
         }
      );

   // COLE COLE
      var ctx = document.getElementById('cole_cole_data');
      Plotly.plot( ctx, [{
         x: {{cole_cole_data.x}},
         y: {{cole_cole_data.y}} 
         }], 
         {
            margin: { t: 0 } 
         }
      );

   </script>
{% endblock jspage %}
